/*CSS for cv.html file (CV Project)*/

/************************************| GENERAL STYLE |************************************/
*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', 'icomoon';
}

.container{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'aside section';
	background-color: #fff;
}

.subBox{
	width: 90%;
}

.list{
	padding: 20px 20px 20px 0;
}

.list li{
	padding: 5px 5px 5px 0;
}

/************************************| MAIN ASIDE.box01 |************************************/
.box01{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-color: #484747;
}

.photo{
	width: 160px;
	height: 160px;
	margin-block: 20px;
	background: #fff top / 80% no-repeat url("../../ASSETS/Pictures/photocv.png");
	border: 3px solid #3498db;
	border-radius: 50%;
}

.box01 h2{
	padding-block-end: 2px;
	font-size: 1.2em;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.box01 ul{
	list-style-type: none;
}

.trng > li:nth-child(2),
.trng > li:nth-child(4),
.trng > li:nth-child(6),
.trng > li:nth-child(9){
	font-weight: bold;
	font-style: italic;
	color: #3498db;
}

.interest{
	padding: 5px;
	display: flex;
	flex-direction: column;
}

/************************************| MAIN SECTION.box02 |************************************/
.box02{
	grid-area: section;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 200px 100px 1fr;
	grid-template-areas:
		'title'
		'profile'
		'professional';
	row-gap: 20px;
	padding: 0 10px 10px;
}

.box02 h2{
	margin-block-end: 10px;
	color: #3498db;
	border-bottom: 1px solid #3498db;
}

.box02 h3{
	padding-block-end: 10px;
}

.box02 h4{
	color: #3498db;
}

.title{
	grid-area: title;
	position: relative;
	padding: 10px;
	text-align: center;
	background: #3498db;
	color: white;
}

.title h1{
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	font-size: 3.5em;
	border: 2px solid #fff;
}

.title span{
	position: absolute;
	top: 59%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 5px;
	border: 2px solid transparent;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-radius: 10px;
	background-color: #3498db;
}

.profile{
	grid-area: profile;
}

.professional{
	grid-area: professional;
}

.military, .civilian{
	padding-inline-start: 50px;
	padding-block-start: 30px;
}

.military > div {
	padding-block: 10px;
}

.military > div:last-child {
	padding-block-end: unset;
}

.military p:nth-child(3), .civilian p:nth-child(3){
	padding-block: 10px;
	font-style: italic;
}

.military li, .civilian li{
	list-style-position: inside;
}
