/*CSS for cv.html file (CV Project)*/

/************************************| GENERAL STYLE |************************************/
*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', 'icomoon';
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.subBox{
	width: 90%;
	margin: 0 auto;
}

.list{
	padding: 10px 10px 10px 0;
}

.list li{
	padding: 5px 5px 5px 0;
}

/*******************Paramètres de la 1ère boîte*******************/
.box01{
	display: flex;
	flex-direction: column;
	width: 30%;
	color: white;
	background-color: #484747;
}

.photo{
	width: 160px;
	height: 160px;
	margin: 20px auto;
	background: #fff top / 80% no-repeat url("../../ASSETS/Pictures/photocv.png");
	border: 3px solid #1b4f72;
	border-radius: 50%;
}

.box01 h2{
	padding-block-end: 2px;
	margin: 0 auto;
	font-size: 1.2em;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.box01 ul{
	list-style-type: none;
}

.formation > li{
	font-weight: bold;
	font-style: italic;;
	color: #002b87;
	list-style-type: square;
}

.formation>span{
	display: inline-block;
}

.interest{
	padding: 5px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

/*******************Paramètres de la 2nde boîte*******************/
.box02{
	width: 70%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.box02>h1{
	font-size: 60px;
	text-align: center;
	background: #1b4f72;
	color: white;
}

.box02>span{
	text-align: center;
	font-size: 25px;
}

.box02 :nth-child(6)>span{
	color: steelblue;
	font-weight: bold;
}

.box02 :nth-child(6)>ul>li{
	list-style-type: square;
}