@font-face {
  font-family: 'icomoon';
  src:  url('../../ASSETS/Fonts/IcoMoon/icomoon.eot?cgoks4');
  src:  url('../../ASSETS/Fonts/IcoMoon/icomoon.eot?cgoks4#iefix') format('embedded-opentype'),
        url('../../ASSETS/Fonts/IcoMoon/icomoon.ttf?cgoks4') format('truetype'),
        url('../../ASSETS/Fonts/IcoMoon/icomoon.woff?cgoks4') format('woff'),
        url('../../ASSETS/Fonts/IcoMoon/icomoon.svg?cgoks4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="icon-"]::before{
  font-size: 1.4em;
	color: #3498db;
	margin-inline-end: 10px;
}

.icon-music::before {
  content: "\e911";
}
.icon-film::before {
  content: "\e913";
}
.icon-book::before {
  content: "\e91f";
}
.icon-phone::before {
  content: "\e942";
}
.icon-envelop::before {
  content: "\e945";
}
.icon-location::before {
  content: "\e947";
}
.icon-location2::before {
  content: "\e948";
}
.icon-mobile::before {
  content: "\e958";
}
.icon-mail::before {
  content: "\ea83";
}
.icon-mail2::before {
  content: "\ea84";
}
.icon-mail3::before {
  content: "\ea85";
}
.icon-mail4::before {
  content: "\ea86";
}
.icon-steam::before {
  content: "\eaac";
}
.icon-steam2::before {
  content: "\eaad";
}
.icon-file-word::before {
  content: "\eae1";
}
.icon-file-excel::before {
  content: "\eae2";
}
.icon-html-five::before {
  content: "\eae4";
}
.icon-html-five2::before {
  content: "\eae5";
}
.icon-css3::before {
  content: "\eae6";
}
