/************************************| MEDIA QUERIES |************************************/

/*******************| SCREENS BETWEEN 1081px and 1366px |*******************/
@media screen and (min-width: 1081px) and (max-width: 1366px) {
  body {
    padding-top: 92px;
  }

  .scrollTop {
    scroll-margin-top: 92px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  #subTitle00 {
    font-size: 0.9em;
  }

  #navigation {
    font-size: 0.7em;
  }

  #subTitle01 {
    font-size: 1.3em;
  }

  #profileBckgnd {
    font-size: 0.8em;
  }

  #subTitle02 {
    font-size: 1.3em;
  }

  .half {
    width: 60%;
  }

  .img {
    width: 150px;
    height: 150px;
  }

  .subTitle {
    font-size: 1.3em;
  }

  .timeline {
    width: 78%;
    font-size: 0.8em;
  }

  .timeline-item {
    width: 40%;
    margin: 0 5%;
  }

  .timeline-item:nth-child(2n + 1) .openBtn {
    left: calc(45% - 10px);
    transform: translate(-70%, -75%);
  }

  .timeline-item:nth-child(2n) .openBtn {
    right: calc(5% + 10px);
    transform: translate(-10%, -75%);
  }

  .detailsOn {
    width: 70%;
    height: 50%;
  }

  .closeBtn {
    right: 20px;
  }

  .training {
    font-size: 0.8em;
  }

  #skills {
    height: 80vh;
  }

  .skillsList {
    font-size: 0.8em;
  }

  .content {
    width: 90%;
    height: 30px;
  }

  .front {
    width: 200px;
    height: 200px;
  }

  .subFront {
    width: 190px;
    height: 190px;
    transform: translateY(2.5%);
  }

  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contacts {
    font-size: 0.8em;
  }
}

/*******************| SCREENS BETWEEN 768px and 1080px |*******************/
@media screen and (min-width: 768px) and (max-width: 1080px) {
  body {
    padding-top: 75px;
  }

  .scrollTop {
    scroll-margin-top: 75px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  header {
    padding: 5px;
  }

  .burger {
    display: flex;
  }

  #navigation {
    position: absolute;
    font-size: 0.7em;
    top: 75px;
    right: 0;
    width: 18%;
    height: 100vh;
    margin-right: -100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 3px #000;
    transition: all 0.5s linear;
  }

  #navigation.pop {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
  }

  #navigation ul {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
  }

  .navLink {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 3px;
    font-weight: bold;
  }

  #subTitle01 {
    font-size: 1.3em;
  }

  #profileBckgnd {
    font-size: 0.8em;
  }

  #subTitle02 {
    font-size: 1.3em;
    top: 25%;
  }

  .half {
    width: 80%;
  }

  .img {
    width: 120px;
    height: 120px;
  }

  .subTitle {
    font-size: 1.3em;
  }

  #pro {
    height: 80vh;
  }

  .timeline {
    width: 90%;
    height: 85%;
    font-size: 0.8em;
    margin-top: 15px;
  }

  .timeline-item {
    width: 40%;
    margin: 0 5%;
  }

  .timeline-item:nth-child(2n + 1) .openBtn {
    left: calc(45% - 10px);
    transform: translate(-70%, -75%);
  }

  .timeline-item:nth-child(2n) .openBtn {
    right: calc(5% + 10px);
    transform: translate(-10%, -75%);
  }

  .detailsOn {
    width: 70%;
    height: 45%;
  }

  .openBtn,
  .closeBtn {
    width: 20px;
    height: 20px;
  }

  .openBtn:hover::before,
  .closeBtn:hover::before {
    width: 28px;
    height: 28px;
  }

  .closeBtn {
    right: 20px;
  }

  #training {
    height: 72vh;
  }

  .training {
    font-size: 0.8em;
    height: 60vh;
    background-position: 0 25%;
  }

  .training-item {
    height: 40px;
  }

  .training-item::after {
    width: 30px;
    height: 30px;
  }

  .change {
    top: 5px;
  }

  #skills {
    height: 60vh;
  }

  #skills h1 {
    font-size: 1.3em;
  }

  .skillsContainer {
    width: 25%;
    height: 65%;
  }

  .skillsList {
    font-size: 0.8em;
  }

  .content {
    width: 85%;
    height: 20px;
  }

  .front {
    width: 140px;
    height: 140px;
  }

  .subFront {
    width: 130px;
    height: 130px;
    transform: translateY(3.6%);
  }

  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contactZone {
    font-size: 2.3em;
  }

  footer div {
    font-size: 0.9em;
  }
}


/*******************| SCREENS BETWEEN 0px and 767px |*******************/
@media screen and (max-width: 767px) {
  body {
    padding-top: 69px;
  }

  .scrollTop {
    scroll-margin-top: 69px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  header {
    padding: 5px;
    font-size: 0.9em;
  }

  .burger {
    display: flex;
    width: 40px;
    height: 40px;
  }

  .bar::before {
    top: -8px;
  }

  .bar::after {
    top: 8px;
  }

  .bar.change::before {
    transform: translateY(8px) rotate(45deg);
  }

  .bar.change::after {
    transform: translateY(-8px) rotate(-45deg);
  }

  #navigation {
    position: absolute;
    font-size: 0.7em;
    top: 69px;
    right: 0;
    height: 100vh;
    width: 100%;
    margin-right: -100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 3px #000;
    transition: all 0.5s linear;
  }

  #navigation.pop {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
  }

  #navigation ul {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
  }

  .navLink {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 3px;
    font-weight: bold;
  }

  #subTitle01 {
    font-size: 1.2em;
  }

  #profileBckgnd {
    font-size: 0.8em;
    flex-direction: column;
    align-items: center;
  }

  #profileBckgnd > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    place-items: center;
  }

  #mil{
    grid-template-areas: 
      "img title"
      "para para";
  }

  #dev{
    grid-template-areas: 
      "title img"
      "para para";   
  }

  #profileBckgnd > div div{
    grid-area: img;
  }

  #profileBckgnd > div h2{
    grid-area: title;
  }

  #profileBckgnd > div p{
    grid-area: para;
  }

  #subTitle02 {
    display: none;
  }

  .half {
    width: 100%;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .subTitle {
    font-size: 1.3em;
  }

  #pro {
    height: 80vh;
  }

  .timeline {
    width: 90%;
    height: 85%;
    font-size: 0.8em;
    margin-top: 15px;
    align-items: unset;
  }

  .timeline-item {
    width: 88%;
    margin: 0 6%;
  }

  .timeline-item::before {
    width: 15px;
    height: 15px;
    left: 11px;
  }

  .timeline-item:nth-child(2n), .timeline-item:nth-child(2n + 1) {
    align-self: unset;
  }

  .timeline-item:nth-child(2n) .openBtn,
  .timeline-item:nth-child(2n + 1) .openBtn {
    left: unset;
    right: 6%;
    transform: translate(-65%, -65%);
  }

  .timeline-item ul li:nth-child(n+3){
    display: none;
  }

  .detailsOn {
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .openBtn,
  .closeBtn {
    width: 20px;
    height: 20px;
  }

  .openBtn:hover::before,
  .closeBtn:hover::before {
    width: 28px;
    height: 28px;
  }

  .closeBtn {
    right: 20px;
  }

  #training {
    height: 70vh;
  }

  .training {
    font-size: 0.8em;
    height: 60vh;
    background-position: 0 25%;
  }

  .training li:nth-child(odd),
  .training li:nth-child(even){
    align-self: unset;
  }

  .training-item {
    height: 40px;
    width: 95%;
  }

  .training-item::after {
    top: -90%;
    width: 25px;
    height: 25px;
  }

  .training-item:nth-child(2n)::after,
  .training-item:nth-child(2n+1)::after {
    left: unset;
    right: unset;
    transform: unset;
  }

  .change {
    top: 5px;
  }

  #skills {
    height: 100vh;
  }

  #skills h1 {
    font-size: 1.3em;
  }

  .skillsContainer {
    width: 90%;
    height: 30%;
    perspective: 3000px;
  }

  .skillsList {
    flex-direction: column;
    justify-content: space-evenly;
    height: 95%;
    font-size: 0.8em;
  }

  .content {
    width: 85%;
    height: 20px;
  }

  .front {
    width: 140px;
    height: 140px;
  }

  .subFront {
    width: 130px;
    height: 130px;
    transform: translateY(3.6%);
  }

  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contacts {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 4fr);
    grid-template-areas: 
    "contactTitle" 
    "contactZone" 
    "cvZone" 
    "copyrightZone";
  }

  #contactZone {
    font-size: 2.3em;
  }

  footer div {
    font-size: 0.9em;
  }

  #copyrightZone ul{
    display: unset;
  }

}
