/************************************| MEDIA QUERIES |************************************/

/*******************| SCREENS BETWEEN 1080px and 1600px |*******************/
@media screen and (min-width: 1080px) and (max-width: 1600px) {
  body {
    padding-top: 91px;
  }

  .scrollTop {
    scroll-margin-top: 91px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  #subTitle00 {
    font-size: 0.9em;
  }

  #navigation {
    font-size: 0.7em;
  }

  #subTitle01 {
    font-size: 1.3em;
  }

  #profileBckgnd {
    font-size: 0.9em;
  }

  #subTitle02 {
    top: 25%;
    font-size: 1.3em;
  }

  .half {
    width: 75%;
  }

  .img {
    width: 150px;
    height: 150px;
  }

  .subTitle {
    font-size: 1.3em;
  }

  .timeline {
    width: 80%;
    font-size: 0.9em;
  }
  
  .timeline-item {
    width: 35%;
    margin: 0 7.5%;
  }
  
  .timeline-item:nth-child(2n + 1) .openBtn {
    left: calc(42.5% + 10px);
  }
  
  .timeline-item:nth-child(2n) .openBtn {
    right: calc(7.5% - 10px);
  }
  
  .detailsOn {
    width: 70%;
  }
  
  .closeBtn {
    right: 15%;
  }

  .training {
    font-size: 0.9em;
  }

  #skills {
    height: 650px;
  }
  
  .skillsList {
    font-size: 0.8em;
  }
  
  .content {
    width: 90%;
    height: 30px;
  }

  .front {
    width: 200px;
    height: 200px;
  }

  .subFront {
    width: 190px;
    height: 190px;
    transform: translateY(2.5%);
  }
  
  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contacts {
    font-size: 0.8em;
  }

}

/*******************| SCREENS BETWEEN 760px and 1079px |*******************/
@media screen and (min-width: 760px) and (max-width: 1079px) {
  body {
    padding-top: 75px;
  }

  .scrollTop {
    scroll-margin-top: 75px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  header {
    padding: 5px;
  }

  .burger {
    display: flex;
  }

  #navigation {
    position: absolute;
    font-size: 0.7em;
    top: 75px;
    right: 0;
    width: 18%;
    height: 100vh;
    margin-right: -100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 3px #000;
    transition: all 0.5s linear;
  }

  #navigation.pop {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
  }

  #navigation ul {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  #navigation ul li{
    margin-block: 15px;
  }

  .navLink {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 3px;
    font-weight: bold;
  }

  #subTitle01 {
    font-size: 1.3em;
  }

  #profileBckgnd {
    font-size: 0.9em;
  }

  #subTitle02 {
    font-size: 1.3em;
    top: 25%;
  }

  .half {
    width: 80%;
  }

  .img {
    width: 135px;
    height: 135px;
  }

  .subTitle {
    font-size: 1.3em;
  }


  .timeline {
    width: 90%;
    font-size: 0.9em;
  }

  .timeline-item {
    width: 35%;
    margin: 0 7.5%;
  }
  
  .timeline-item:nth-child(2n + 1) .openBtn {
    left: calc(42.5% + 10px);
  }
  
  .timeline-item:nth-child(2n) .openBtn {
    right: calc(7.5% - 10px);
  }

  .detailsOn {
    width: 70%;
  }
  
  .closeBtn {
    right: 15%;
  }

  .training {
    width: 90%;
    height: 650px;
    font-size: 0.8em;
    background-size: 95%;
  }

  .training-item{
    width: 60%;
  }

  #skills {
    height: 550px;
  }

  #skills h1{
    font-size: 1.2em;
  }
  
  .skillsList {
    height: 80%;
    font-size: 0.7em;
  }
  
  .skillsContainer{
    perspective: 5000px;
  }

  .content {
    width: 85%;
    height: 20px;
  }

  .front {
    width: 140px;
    height: 140px;
  }

  .subFront {
    width: 130px;
    height: 130px;
    transform: translateY(3.6%);
  }
  
  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contactZone {
    font-size: 2.2em;
  }

  footer div {
      font-size: 0.9em;
  } 

}


/*******************| SCREENS BETWEEN 0px and 759px |*******************/
@media screen and (max-width: 759px) {

  body {
    padding-top: 70px;
  }

  .scrollTop {
    scroll-margin-top: 70px;
  }

  #mainTitle {
    font-size: 2.1em;
  }

  header {
    padding: 5px;
  }

  .burger {
    display: flex;
    width: 40px;
    height: 40px;
  }

  .bar::before {
    top: -8px;
  }

  .bar::after {
    top: 8px;
  }

  .bar.change::before {
    transform: translateY(8px) rotate(45deg);
  }

  .bar.change::after {
    transform: translateY(-8px) rotate(-45deg);
  }

  #navigation {
    position: absolute;
    font-size: 0.7em;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100vh;
    margin-right: -100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: -1px 1px 3px #000;
    transition: all 0.5s linear;
  }

  #navigation.pop {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s linear;
  }

  #navigation ul {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  #navigation ul li{
    margin-block: 15px;
  }

  .navLink {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 3px;
    font-weight: bold;
  }

  #subTitle01 {
    font-size: 1.2em;
  }

  #profileBckgnd {
    font-size: 0.8em;
    flex-direction: column;
    align-items: center;
  }

  #profileBckgnd > div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    place-items: center;
  }

  #mil{
    grid-template-areas: 
      "img title"
      "para para";
  }

  #dev{
    grid-template-areas: 
      "title img"
      "para para";   
  }

  #profileBckgnd > div div{
    grid-area: img;
  }

  #profileBckgnd > div h2{
    grid-area: title;
  }

  #profileBckgnd > div p{
    grid-area: para;
  }

  #subTitle02 {
    display: none;
  }

  #subTitle02 {
    font-size: 1.3em;
    top: 25%;
  }

  .half {
    width: 100%;
    padding: 5px;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .subTitle {
    font-size: 1.3em;
  }


  .timeline {
    align-items: unset;
    width: 90%;
    padding-block: 10px;
    font-size: 0.8em;
  }

  .timeline::before{
    left: 5%;
    transform: translateX(-50%);
  }

  .timeline-item{
    width: 80%;
    margin-block: 10px;
  }

  .timeline-item::before {
    width: 15px;
    height: 15px;
    left: 5%;
  }

  .timeline-item ul li:nth-child(n+3){
    display: none;
  }

  .detailsOn {
    width: 90%;
    top: 150px;
    height: 350px;
  }
  
  .timeline-item:nth-child(odd) .openBtn,
  .timeline-item:nth-child(even) .openBtn
  {
    left: unset;
    right: calc(10% + 10px);
    transform: translateY(-100%);
  }

  .closeBtn {
    top: 150px;
    right: 5%;
    transform: translate(-25%, 25%);
    width: 25px;
    height: 25px;
  }

  .closeBtn:hover::before{
    width: 35px;
    height: 35px;
  }

  .training {
    width: 90%;
    height: 500px;
    font-size: 0.8em;
    background-size: 95%;
  }

  .training-item{
    width: 90%;
    margin: 0 auto;
    height: 35px;
  }

  .training-item::after {
    width: 35px;
    height: 35px;
  }

  .training-item:nth-child(odd)::after,
  .training-item:nth-child(even)::after{
    right: unset;
    left: 50%;
    transform: translate(-50%, -110%);
  }

  .change{
    top: 5px;
  }

  #skills {
    height: 1200px;
  }

  #skills h1{
    font-size: 1.2em;
  }
  
  .skillsList {
    flex-direction: column;
    font-size: 0.9em;
  }
  
  .skillsContainer{
    width: 60%;
    margin-block: 20px;
    perspective: 5000px;
  }

  .content {
    width: 85%;
    height: 20px;
  }

  .front {
    width: 140px;
    height: 140px;
  }

  .subFront {
    width: 130px;
    height: 130px;
    transform: translateY(3.6%);
  }
  
  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contacts {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 4fr);
    grid-template-areas: 
    "contactTitle" 
    "contactZone" 
    "cvZone" 
    "copyrightZone";
  }

  #contactZone {
    font-size: 2.2em;
  }

  footer div {
    font-size: 0.9em;
  }

  #copyrightZone ul{
    display: unset;
  }

}
