/*CSS general styles file(CV Project)*/

/************************************ CSS GENERAL STYLE ************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", Verdana, Times, sans-serif;
  padding-top: 98px;
}

h1,
h2 {
  font-family: "Air america", Verdana, Times, sans-serif;
}

.scrollTop {
  scroll-margin-top: 98px;
}

/************************************ HEADER ************************************/
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #1b4f72;
  box-shadow: 0 1px 3px black;
  text-align: center;
}

/********** H1, H2 **********/
#mainTitle {
  font-size: 2.5em;
}

#subTitle00 {
  font-size: 1em;
}

.shadow {
  text-shadow: 4px 4px black;
}

/********** NAV **********/
#navigation {
  font-size: 0.8em;
  padding: 5px 10px;
}

#navigation ul {
  display: flex;
  justify-content: flex-end;
}

#navigation ul li {
  list-style: none;
}

.navLink {
  position: relative;
  padding: 0 5px;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 3px;
  font-weight: bold;
}

.navLink:active {
  box-shadow: none;
  top: 3px;
}

/************************************ MAIN ************************************/
article {
  height: 100vh;
  width: 100%;
}

/********** ARTICLE #profile **********/
#profile {
  position: relative;
  height: 100%;
}

#boxST01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 5px;
  background-image: repeating-linear-gradient(
    45deg,
    black 0,
    black 2px,
    yellow 2px,
    yellow 4px
  );
  border-radius: 5px;
}

#boxST01:hover {
  cursor: pointer;
}

#subTitle01 {
  background-color: white;
}

.door {
  position: absolute;
  width: 16.666667%;
  height: 100%;
  border-color: grey;
  border-style: solid groove groove groove;
  border-width: 20px 5px;
}

.leftDoors {
  background-image: repeating-linear-gradient(
    to right,
    white 0,
    white 25px,
    #484747 25px,
    #484747 26px
  );
}

#door01 {
  left: 0;
  z-index: 996;
}
#door02 {
  left: 16.666667%;
  z-index: 997;
}
#door03 {
  left: 33.333334%;
  z-index: 998;
}

.rightDoors {
  background-image: repeating-linear-gradient(
    to left,
    white 0,
    white 25px,
    #484747 25px,
    #484747 26px
  );
}

#door04 {
  right: 33.333334%;
  z-index: 998;
}
#door05 {
  right: 16.666667%;
  z-index: 997;
}
#door06 {
  right: 0;
  z-index: 996;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
}

.half {
  width: 50%;
}

#mil {
  background-image: linear-gradient(
    175deg,
    #3498db 10%,
    #cc3518 27%,
    #ffa500 35%,
    #002b87 40%,
    #1b4f72 60%,
    #3498db
  );
}

#meMil {
  background: url("../../ASSETS/Pictures/moi_atl2.jpg") no-repeat center / cover;
}

#meDev {
  background: url("../../ASSETS/Pictures/moi_dev_web.jpg") no-repeat center /
    cover;
}

.alignText {
  text-align: justify;
}

#subTitle02 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  z-index: 995;
  transform: translate(-50%, 0);
}

.colorLeft {
  color: white;
}

/********** ARTICLE #pro **********/
#pro {
  background-image: linear-gradient(325deg, #3498db, #fff);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.timeline::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #fff;
}

.timeline-item {
  width: 30%;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px white;
  margin: 0 10%;
  color: white;
}

.timeline-item:hover {
  color: #2ecc71;
  text-shadow: 0 0 1px #0f0;
  box-shadow: 0 0 5px #ffa500;
  border-color: #ffa500;
  transition: 0.5s linear;
}

.timeline-item:hover::before {
  background-color: #ffa500;
  box-shadow: 0 0 5px #ffa500;
  transition: 0.5s linear;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item:nth-child(odd) {
  align-self: flex-start;
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item ul li {
  list-style-type: none;
}

.timeline-item ul li:nth-child(1) {
  font-style: italic;
}

.detailsOff {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.detailsOn {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 60%;
  height: 60%;
  top: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px #ffa500;
  backdrop-filter: blur(3px);
  color: #2ecc71;
  text-shadow: 0 0 1px #0f0;
  border: 1px solid #ffa500;
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.detailsOn h3,
.detailsOn > div,
.detailsOn p {
  padding-bottom: 20px;
}

.detailsOn div p:nth-child(2) {
  font-style: italic;
}

.detailsOn div ul {
  list-style-type: none;
  padding-bottom: 12px;
}

#toulonDetails {
  scrollbar-width: thin;
  scrollbar-color: #3498db #fff;
}

#toulonDetails::-webkit-scrollbar {
  width: 5px;
}

#toulonDetails::-webkit-scrollbar-button {
  visibility: hidden;
}

#toulonDetails::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

#toulonDetails::-webkit-scrollbar-track {
  background-color: #fff;
}

.openBtn,
.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  color: #3498db;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  font-size: 1.2em;
  font-weight: bold;
  outline: none;
}

.closeBtn {
  top: 10px;
  right: 10px;
}

.timeline-item:nth-child(odd) .openBtn {
  left: calc(40% - 10px);
  transform: translate(-70%, -110%);
}

.timeline-item:nth-child(even) .openBtn {
  right: calc(10% + 10px);
  transform: translate(-10%, -110%);
}

.openBtn:hover::before,
.closeBtn:hover::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #3498db;
  animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/********** ARTICLE #training **********/
#training {
  background-color: #002b87;
}

.training {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 75vh;
  margin: 10vh auto 0;
  border: 2px solid red;
}

.training li:nth-child(odd) {
  align-self: flex-start;
}

.training li:nth-child(even) {
  align-self: flex-end;
}
.training-item {
  list-style-type: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  font-size: 2em;
  transition: width 1s linear;
}

.training-item:hover {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/************************************ FOOTER ************************************/
#copyrightZone {
  width: auto;
  height: 2em;
  color: white;
  text-align: left;
  padding: 0 0 0 10px;
  background-color: rgba(71, 71, 75, 100);
  align-self: center;
}
