/*CSS general styles file (CV Project)*/

/************************************| GENERAL STYLE |************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", Verdana, Times, sans-serif;
  padding-top: 98px;
}

h1,
h2 {
  font-family: "Air america", Verdana, Times, sans-serif;
}

.scrollTop {
  scroll-margin-top: 98px;
}

.subTitle {
  padding: 5px;
}

/************************************| HEADER |************************************/
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #1b4f72;
  box-shadow: 0 1px 3px black;
  text-align: center;
}

/*******************| HEADER H1,H2 |*******************/
#mainTitle {
  font-size: 2.5em;
}

#subTitle00 {
  font-size: 1em;
}

.shadow {
  text-shadow: 4px 4px black;
}

/*******************| HEADER NAV |*******************/
#navigation {
  font-size: 0.8em;
  padding: 5px 10px;
}

#navigation ul {
  display: flex;
  justify-content: flex-end;
}

#navigation ul li {
  list-style: none;
}

.navLink {
  position: relative;
  padding: 0 5px;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 3px;
  font-weight: bold;
}

.navLink:active {
  box-shadow: none;
  top: 3px;
}

/************************************| MAIN |************************************/
article {
  height: 100vh;
  width: 100%;
}

/*******************| ARTICLE #profile |*******************/
#profile {
  position: relative;
  overflow-x: hidden;
  height: auto;
}

#boxST01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 5px;
  background-image: repeating-linear-gradient(
    45deg,
    black 0,
    black 3px,
    yellow 3px,
    yellow 6px
  );
  border-radius: 5px;
}

#boxST01:hover {
  cursor: pointer;
}

#subTitle01 {
  padding: 3px;
  background-color: white;
}

.door {
  position: absolute;
  width: 16.666667%;
  height: 100%;
  border-color: grey;
  border-style: solid groove groove groove;
  border-width: 20px 5px;
}

.leftDoors {
  background-image: repeating-linear-gradient(
    to right,
    white 0,
    white 25px,
    #484747 25px,
    #484747 26px
  );
}

#door01 {
  left: 0;
  z-index: 996;
}
#door02 {
  left: 16.666667%;
  z-index: 997;
}
#door03 {
  left: 33.333334%;
  z-index: 998;
}

.rightDoors {
  background-image: repeating-linear-gradient(
    to left,
    white 0,
    white 25px,
    #484747 25px,
    #484747 26px
  );
}

#door04 {
  right: 33.333334%;
  z-index: 998;
}
#door05 {
  right: 16.666667%;
  z-index: 997;
}
#door06 {
  right: 0;
  z-index: 996;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.img {
  width: 180px;
  height: 180px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 5px;
}

.half {
  width: 50%;
}

#mil {
  background-image: linear-gradient(
    175deg,
    #3498db 10%,
    #cc3518 27%,
    #ffa500 35%,
    #002b87 40%,
    #1b4f72 60%,
    #3498db
  );
}

#meMil {
  background: url("../../ASSETS/Pictures/moi_atl2.jpg") no-repeat center / cover;
}

#meDev {
  background: url("../../ASSETS/Pictures/moi_dev_web.jpg") no-repeat center /
    cover;
}

.alignText {
  text-align: justify;
}

#subTitle02 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  z-index: 995;
  transform: translate(-50%, 0);
}

.colorLeft {
  color: white;
}

/*******************| ARTICLE #pro |*******************/
#pro {
  background-image: linear-gradient(325deg, #3498db, #fff);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 90vh;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.timeline::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #fff;
}

.timeline-item {
  width: 30%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px white;
  margin: 0 10%;
  color: white;
}

.timeline-item:hover {
  color: #2ecc71;
  text-shadow: 0 0 1px #0f0;
  box-shadow: 0 0 5px #ffa500;
  border-color: #ffa500;
  transition: 0.5s linear;
}

.timeline-item:hover::before {
  background-color: #ffa500;
  box-shadow: 0 0 5px #ffa500;
  transition: 0.5s linear;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item:nth-child(odd) {
  align-self: flex-start;
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item ul li {
  list-style-type: none;
}

.timeline-item ul li:nth-child(1) {
  font-style: italic;
}

.detailsOff {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.detailsOn {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 60%;
  height: 60%;
  top: 20%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px #ffa500;
  backdrop-filter: blur(3px);
  color: #2ecc71;
  text-shadow: 0 0 1px #0f0;
  border: 1px solid #ffa500;
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.detailsOn h3,
.detailsOn > div,
.detailsOn p {
  padding-bottom: 20px;
}

.detailsOn div p:nth-child(2) {
  font-style: italic;
}

.detailsOn div ul {
  list-style-type: none;
  padding-bottom: 12px;
}

#toulonDetails {
  scrollbar-width: thin;
  scrollbar-color: #3498db #fff;
}

#toulonDetails::-webkit-scrollbar {
  width: 5px;
}

#toulonDetails::-webkit-scrollbar-button {
  visibility: hidden;
}

#toulonDetails::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

#toulonDetails::-webkit-scrollbar-track {
  background-color: #fff;
}

.openBtn,
.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  color: #3498db;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  font-size: 1.2em;
  font-weight: bold;
  outline: none;
}

.closeBtn {
  top: 10px;
  right: 10px;
}

.timeline-item:nth-child(odd) .openBtn {
  left: calc(40% - 10px);
  transform: translate(-70%, -75%);
}

.timeline-item:nth-child(even) .openBtn {
  right: calc(10% + 10px);
  transform: translate(-10%, -75%);
}

.openBtn:hover::before,
.closeBtn:hover::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*******************| ARTICLE #training |*******************/
#training {
  background-color: #fff;
}

.training {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 85vh;
  margin: 2vw auto 0;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  background: url("../../ASSETS/Pictures/literature.jpg") no-repeat center /
    contain;
  background-color: #3498db;
  background-attachment: fixed;
}

.training li:nth-child(odd) {
  align-self: flex-start;
}

.training li:nth-child(even) {
  align-self: flex-end;
}

.training-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 50px;
  width: 40%;
  height: 50px;
  margin: 0 5px;
  border: 3px solid #000;
  border-radius: 5px;
  list-style-type: none;
  background-color: #fff;
  color: #1b4f72;
  font-weight: bold;
  box-shadow: 0 5px 5px#000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s linear;
}

.training-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background: url("../../ASSETS/Icons/hat_school.png") no-repeat center / cover;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  box-shadow: 0 5px 5px#000;
}

.training-item:nth-child(odd)::after {
  right: 0;
  transform: translate(80%, -80%);
}

.training-item:nth-child(even)::after {
  left: 0;
  transform: translate(-80%, -80%);
}

.training-item span {
  text-align: center;
}

.change {
  top: -5px;
  opacity: 1;
  visibility: visible;
}

.thanks {
  text-align: center;
  font-size: 0.8em;
}

/*******************| ARTICLE #skills |*******************/
#skills {
  color: #fff;
  background: url("../../ASSETS/Pictures/dev_web.webp") no-repeat center/ cover;
  background-attachment: fixed;
}

.skillsList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
}

.skillsContainer {
  width: 25%;
  height: 75%;
  perspective: 1000px;
}

.skillsContainer:hover .skillsCard {
  transform: rotateY(180deg);
}

.skillsCard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.6s linear;
}

.skillsFront,
.skillsBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border: 3px solid #fff;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #3498db, #fff);
  box-shadow: 0 0 5px #fff;
  text-align: center;
  font-size: 1.5em;
}

.skillsBack {
  transform: rotateY(180deg);
}

#skillsContainer02 .skillsFront,
#skillsContainer02 .skillsBack {
  background-image: linear-gradient(45deg, #484747 0%, #fff 100%);
}

#skillsContainer03 .skillsFront,
#skillsContainer03 .skillsBack {
  background-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 79, 114, 1) 100%
  );
}

.skillsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateZ(100px);
  color: #fff;
}

.skillsContent h1 {
  text-shadow: 0 3px 10px #3498db;
}

.front {
  width: 240px;
  height: 240px;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  background-color: #fff;
}

.subFront {
  width: 230px;
  height: 230px;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  background: url("../../ASSETS/Pictures/front.png") no-repeat center / 85%,
    linear-gradient(45deg, #3498db, #1b4f72);
  margin: 0 auto;
  transform: translateY(2%);
}

#skillsContainer02 .subFront {
  background: url("../../ASSETS/Pictures/rubiks-cube.png") no-repeat center /
      85%,
    linear-gradient(45deg, #ffa500, #fff);
}

#skillsContainer03 .subFront {
  background: url("../../ASSETS/Pictures/back.jpg") no-repeat center / cover;
}

.content {
  width: 95%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

i {
  text-shadow: 0 0 3px #000;
  font-size: 1.2em;
}

.bxl-html5 {
  color: orangered;
}

.bxl-css3 {
  color: #1b4f72;
}

.bxl-javascript {
  color: #dd0;
}

.bxl-sass {
  color: #cc75df;
}

.bxl-bootstrap {
  color: purple;
}

.bxl-vuejs {
  color: #2ecc71;
}

.bxl-react {
  color: #3498db;
}

.bxl-visual-studio {
  color: #3498db;
}

.symphony {
  border-radius: 50%;
}

.progressBar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 50%;
  border: 3px solid #1b4f72;
  border-radius: 20px;
}

.counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.inProgress {
  height: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #1b4f72 0,
    #1b4f72 10px,
    #3498db 10px,
    #3498db 20px
  );
  border-radius: 10px;
}

/************************************| FOOTER |************************************/
#contacts {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, 2fr);
  grid-template-areas:
    "contactTitle contactTitle"
    "contactZone cvZone"
    "contactZone cvZone"
    "copyrightZone copyrightZone";
  background-color: #484747;
  color: #fff;
}

#contactTitle {
  grid-area: contactTitle;
}

#contactZone {
  position: relative;
  grid-area: contactZone;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #fff;
}

#contactZone ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

#contactZone ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#contactZone span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  font-size: 0.3em;
}

#phone:hover span,
#gmail:hover span,
#linkedin:hover span,
#github:hover span {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #fff;
}

li:hover span::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 15px;
  height: 15px;
  background-color: #fff;
}

#phone:hover span {
  box-shadow: -2px -3px 3px #2ecc71;
}

#phone:hover span::before {
  left: 16%;
  box-shadow: 3px -3px 3px #2ecc71;
}

#gmail:hover span {
  box-shadow: -2px -3px 3px #f00;
}

#gmail:hover span::before {
  left: 38%;
  box-shadow: 3px -3px 3px #f00;
}

#linkedin:hover span {
  box-shadow: -2px -3px 3px #1b4f72;
}

#linkedin:hover span::before {
  right: 38%;
  box-shadow: 3px -3px 3px #1b4f72;
}

#github:hover span {
  box-shadow: -2px -3px 3px #484747;
}

#github:hover span::before {
  right: 16%;
  box-shadow: 3px -3px 3px #484747;
}

.bx-phone {
  color: #0f0;
}

.bxl-gmail {
  color: #f00;
}

.bxl-linkedin {
  color: #1b4f72;
}

.bxl-github {
  color: #484747;
}

#cvZone {
  grid-area: cvZone;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b4f72;
  padding: 10px;
}

#cvZone h2,
#cvZone a,
#cvZone div {
  padding: 10px;
}

.bxs-download {
  font-size: 4em;
  color: #fff;
  transition: all 0.3s linear;
}

.bxs-download:hover {
  color: #2ecc71;
}

.bxs-download:hover::before {
  content: "Téléchargez moi!!";
  font-size: 0.5em;
}

#copyrightZone {
  grid-area: copyrightZone;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

#copyrightZone ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  text-align: center;
  font-weight: bold;
}

#copyrightZone ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}

/************************************| MEDIA QUERIES |************************************/
@media screen and (min-width: 1081px) and (max-width: 1350px) {
  body {
    padding-top: 92px;
  }

  .scrollTop {
    scroll-margin-top: 92px;
  }

  #mainTitle {
    font-size: 2.4em;
  }

  #subTitle00 {
    font-size: 0.9em;
  }

  #navigation {
    font-size: 0.7em;
  }

  #subTitle01 {
    font-size: 1.3em;
  }

  #profileBckgnd {
    font-size: 0.8em;
  }

  #subTitle02 {
    font-size: 1.3em;
  }

  .half {
    width: 60%;
  }

  .img {
    width: 150px;
    height: 150px;
  }

  .subTitle {
    font-size: 1.3em;
  }

  .timeline {
    font-size: 0.8em;
    width: 78%;
  }

  .timeline-item {
    width: 40%;
    margin: 0 5%;
  }

  .timeline-item:nth-child(2n + 1) .openBtn {
    left: calc(45% - 10px);
    transform: translate(-70%, -75%);
  }

  .timeline-item:nth-child(2n) .openBtn {
    right: calc(5% + 10px);
    transform: translate(-10%, -75%);
  }

  .detailsOn {
    width: 70%;
    height: 50%;
  }

  .closeBtn {
    right: 20px;
  }

  .training {
    font-size: 0.8em;
  }

  #skills {
    height: 80vh;
  }

  .skillsList {
    font-size: 0.8em;
  }

  .content {
    width: 90%;
    height: 30px;
  }

  .front {
    width: 200px;
    height: 200px;
  }

  .subFront {
    width: 190px;
    height: 190px;
    transform: translateY(2.5%);
  }

  .progressBar {
    border-width: 1.5px;
  }

  .inProgress {
    background-image: repeating-linear-gradient(
      45deg,
      #1b4f72 0,
      #1b4f72 5px,
      #3498db 5px,
      #3498db 10px
    );
  }

  #contacts {
    font-size: 0.8em;
  }
}
